@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  }
}

@font-face {
    font-family: 'micrenc';
    src: url('../fonts/micrenc.ttf');
}

@font-face {
    font-family: 'signature';
    src: url('../fonts/Photograph_Signature.ttf');
}

.cheque {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #FDFFFC;
  width: 500px;
  height: 200px;
  padding: 20px;
  color: #011627;
  background: linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  @include for-size(phone-only) {
    width: calc(100vw - 50px);
    height: 200px;
  }
  &__date-container {
    display: flex;
    align-items: center;
  }
  &__date {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  &__date-individual {
    border: 1px solid black;
    padding: 3px;
    margin-right: 3px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  &__payee {
    text-decoration: underline;
    font-size: 18px;
    margin-right: 20px;
  }
  &__amount{
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  &__payee-and-date-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    text-transform: capitalize;
    align-items: center;
  }
  &__text-and-amount-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    text-transform: capitalize;
    align-items: center;
  }
  &__bottom-numbers {
    font-family: 'micrenc';
    align-self: flex-end;
    font-size: 18px;
  }
  &__value-text {
    text-align: left;
    width: calc(100% - 200px);
    text-decoration: underline;
  }
  &__value-cents {
    display: flex;
    border: 1px solid black;
    font-size: 10px;
    width: 25px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  &__barcode-and-signature {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__signature {
    font-family: 'signature';
    font-size: 30px;
    text-decoration: underline;
    @include for-size(phone-only) {
      font-size: 20px;
    }
  }
}
